.gradle
.idea/
local.properties
*.iml
build/
app/src/main/assets
.DS_Store
google-services.json
*.apk
*.aab
app/regular/release/app-regular-release.zip
app/regular/release/app-regular-release.zip
app/regular/release/app-regular-release.zip
